{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
      {"item" : "gardenbotcropbin"},
      {"item" : "gardenbotwoodshed"},
      {"item" : "gbotfence1"},
      {"item" : "gbotfence2"},
      {"item" : "gbotfence3"},
      {"item" : "gardenbotv80gspawner"},
      {"item" : "gardenbotv81gspawner"},
      {"item" : "gardenbotv86gspawner"}
    ]
  }
}
